.header {
  height: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2em;
}

.avatar {
  position: relative;
  width: 10vmax;
  height: 100%;
}

.avatar img {
  border-radius: 10rem;
}

.title {
  text-align: left;
  text-transform: capitalize;
  margin: 0 .9em;
}

.name {
  font-size: 1.6em;
}