.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.ghCounters {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ghCounters>* {
    padding: 1rem
}