.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}



.section {
  width: 90vw;
  flex-grow: 1;
}

.footer {
  padding: 1rem;
}